.bg-dark{
    background-color: rgb(9, 32, 71)!important; 
}

.navbar{
    padding: 0!important; 
}

.card {
    margin:auto!important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}