.bg-dark{
    background-color: rgb(9, 32, 71)!important; 
}
.bg-dark-transparent{
    background-color: rgba(9, 32, 71,0.6)!important; 
}

.btn-primary {
    background-color: rgb(9, 32, 71)!important; 
}

.navbar{
    padding: 0!important; 
}

.card {
    margin:auto!important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.parallax { 
    /* The image used */
    background-image: url("../mcyd/assets/bg1.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }